service cloud.firestore {
  match /databases/{database}/documents {
    /// match /{document=**} {
    //  allow read;
    //}
    match /posts/{document=**} {
      allow read;
    }
    match /bodies/{document=**} {
      allow read;
    }
    match /posts/{slug}/summaries/{user_id} {
      allow read;
      allow create, update, delete: if request.auth.uid == user_id;
    }
    match /emails/{document=**}{
      allow create;
    }
  }
}
