/* @media print {
  @page {
    size: A4;
    margin: 0cm;
  }
} */

@page {
  margin: 30mm 20mm 25mm 20mm;
  size: 20cm 25cm;
  @footnotes {
    border-top: thin solid black;
    border-clip: 100px;
    padding: 0;
    margin: 0.6em 0 0 0;
    margin-outside: -60mm;
    padding: 0.3em 0 0 0;
  }
}

img {
  width: 100%;
}

iframe {
  display: none;
}