.font-sans {
  font-family: "Lato", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.font-serif {
  font-family: "Merriweather", Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif
}

p, ul, ol {
  margin-bottom: 1rem;
}

.clearfix {
  clear: both;
}

.iframe-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.iframe-wrapper:before {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.responsive-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}