.font-sans {
  font-family: "Lato", system-ui, BlinkMacSystemFont, -apple-system,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.font-serif {
  font-family: "Merriweather", Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif
}

p, ul, ol {
  margin-bottom: 1rem;
}

.clearfix {
  clear: both;
}